<% unless @hashtags.count.zero? %>
  <div class="content-wrapper buffer-both text-center">
    <h1 class="title-medium">Вопросы с хэштегом</h1>
    <% @hashtags.each do |hashtag| %>
      <%= link_to "##{hashtag.name}" , hashtag_path(hashtag.name), class: "text-lead" %>
    <% end %>
  </div>
<% end %>

<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>

  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
      </div>
    </div>
  <% end %>
</div>
